<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#0e1322">

    <title>Developer Roadmaps</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="auth.css">

    <link rel="stylesheet" href="no-select.css">

    <script src="auth.js"></script>
</head>

<body>
    <nav>
        <div class="links">
            <a href="index.html">Start Here</a>
            <a href="courses/course_main.html">Courses</a>
            <a href="about.html">About Us</a>
            <a href="contacts.html">Contacts</a>
        </div>

        <div class="auth">
            <a onclick="login()">Login</a>
            <a class="sign-up" href="sign-up.html">Sign up</a>
        </div>

    </nav>

    <div class="auth-window" id="auth-window">
        <div class="hide" id="hide"></div>
        <div class="window" id="window">
            <div class="close-btn-container">
                <a id="close-log" onclick="hidelogin()">×</a>
            </div>
            <div class="form-container">
                <h2>Login</h2>
                <form id="loginForm">
                    <div class="input-container">
                        <input type="text" placeholder="Username" name="username" required>
                    </div>
                    <div class="input-container">
                        <input type="password" placeholder="Password" name="password" required>
                    </div>
                    <div class="button-container">
                        <button type="submit">Login</button>
                    </div>
                    <div class="button-container" style="display: block; margin:10px;">
                        Dont have an account?
                        <a href="" id="signup">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <header>
        <h1 class="h1-text">Developer Roadmaps</h1>
        <p>Here you ll find step by step roadmaps to being a something developer or IT engineer...</p>
    </header>


    <div class="roadmaps">
        <a href="roadmaps/frontend.html">Frontend</a>
        <a href="roadmaps/backend.html">Backend</a>
        <a href="roadmaps/devops.html">DevOps</a>
        <a class="disabled-link" href="">QA</a>
        <a class="disabled-link" href="">Cyber Security</a>
        <a class="disabled-link" href="">Full Stack</a>
        <a class="disabled-link" href="">AI and Data Scientist</a>
        <a class="disabled-link" href="">PostgreSQL</a>
        <a class="disabled-link" href="">Android</a>
        <a class="disabled-link" href="">IOS</a>
        <a class="disabled-link" href="">Blockchain</a>
        <a class="disabled-link" href="">Software Architect</a>
        <a class="disabled-link" href="">UX Design</a>
        <a class="disabled-link" href="">GameDev</a>
        <a class="disabled-link" href="">CIO</a>
    </div>

</body>

</html>