nav {
    background-color: #0e1322;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 20px;
}

.links,
.auth {
    margin: 10px;
}

nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: grey;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

nav .auth a {
    text-decoration: none;
    padding: 10px;
    background-color: blue;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
}

nav a:hover {
    color: deeppink;
    background-color: gray;
    border-radius: 6px;

    border: 0.3px solid azure;
    transform: translateY(-5px);
    border: 2px solid deeppink;
    box-shadow: 5px 5px 10px deeppink;
}

.auth a:hover {
    background-color: darkblue;
    color: deeppink;

    border: 0.3px solid azure;
    transform: translateY(-5px);
    border: 2px solid deeppink;
    box-shadow: 5px 5px 10px deeppink;
}
